SPRING_PROFILES_ACTIVE=prod
PORT=8080

SPRING_DATASOURCE_URL=jdbc:postgresql://HOST:PORT/DATABASE
SPRING_DATASOURCE_USERNAME=USUARIO
SPRING_DATASOURCE_PASSWORD=PASSWORD

SPRING_DATA_REDIS_HOST=HOST_REDIS
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=

JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_LARGA_SEGURA_DE_PRODUCCION
JWT_EXPIRATION=86400000

APP_CORS_ALLOWED_ORIGINS=https://frontend-publico.vercel.app
APP_SECURITY_COOKIE_SECURE=true
APP_SECURITY_COOKIE_SAME_SITE=None
